:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --tertiary-color: #ffffff;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-nav,
.header-list,
.header-contacts {
  display: flex;
  align-items: center;
}
.header-list {
  gap: 50px;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}
.web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
}
.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  /* background-color: #2f303a; */
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features {
  padding-top: 94px;
}
.features-background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}
.features-icons {
  fill: currentColor;
}

.features-list {
  display: flex;
  gap: 30px;
}
.features-item {
  width: 270px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.features-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
img {
  display: block;
}
.activities-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.activities-title {
  margin-bottom: 50px;
}
.activities-list {
  display: flex;
  gap: 30px;
}
.activities-item {
  position: relative;
}
.activities-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-color);
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  margin-bottom: 50px;
}
.team-img {
  display: block;
}
.team-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
  margin-top: 0px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color);
}

.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-link {
  /* background-color: #f5f5f5; */
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-logo {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--tertiary-color);
  display: block;
  margin-bottom: 20px;
}
.contacts-address {
  font-style: normal;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.footer-address,
.footer-mail {
  display: block;
  margin-bottom: 9px;
}
.footer-soc-box {
  margin-left: 70px;
}

.footer-soc-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-color);
  margin-bottom: 20px;
}
.footer-soc {
  display: flex;
  gap: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-soc-icon {
  fill: currentColor;
}

.footer-wrap {
  position: relative;
}
.subscribe-section {
  margin-left: auto;
  display: flex;
}

.subscribe-form {
  padding-top: 12px;
}

.sub-correct {
  display: flex;
}

.subscribe-name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-color);
}

.subscribe-input {
  padding-left: 16px;
  height: 50px;
  width: 358px;
  border-color: #ffffff4d;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: var(--white-color);
}

.subscribe-input:focus-visible {
  outline-color: var(--accent-color);
}

.subscribe-input:not(:placeholder-shown):required:valid {
  border-color: var(--accent-color);
}

.subscribe-input:not(:placeholder-shown):required {
  border-color: red;
}

.subscribe-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tertiary-color);
  cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}

.subscribe-icon {
  margin-left: 10px;
  fill: var(--tertiary-color);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--tertiary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 12px;
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  display: block;
  margin-bottom: 4px;
}
.modal-data {
  margin-bottom: 10px;
}
.modal-text {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment {
  margin-bottom: 20px;
}
.modal-policy {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.modal-check {
  margin-top: 10px;
  margin-bottom: 30px;
}
.check-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.conditions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  /* fill: transparent; */
  opacity: 0;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
  opacity: 1;
}
.submit-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
}
/* portfolio main */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--tertiary-color);
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-name {
  padding: 6px 22px;
}
.portfolio-img {
  margin-bottom: 20px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-img {
  display: block;
  margin-bottom: 0;
}
.works-item:hover .works-cover-text {
  transform: translateY(0%);
}
.works-cover-wrap {
  position: relative;
  overflow: hidden;
}
.works-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.work-field {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.works {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works:hover,
.works:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
